<web-app>
  <servlet>
   <servlet-name>DataService</servlet-name>
   <servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
    <init-param>
      <param-name>home-class</param-name>
      <param-value>implementation.DataServiceImplementation</param-value>
    </init-param>
    <init-param>
      <param-name>home-api</param-name>
      <param-value>diets.api.DataService</param-value>
    </init-param>
  </servlet>
    <servlet>
   <servlet-name>LoginService</servlet-name>
   <servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
    <init-param>
      <param-name>home-class</param-name>
      <param-value>implementation.LoginServiceImplementation</param-value>
    </init-param>
    <init-param>
      <param-name>home-api</param-name>
      <param-value>diets.api.LoginService</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <url-pattern>/DataService</url-pattern>
    <servlet-name>DataService</servlet-name>
  </servlet-mapping>
  <servlet-mapping>
    <url-pattern>/LoginService</url-pattern>
    <servlet-name>LoginService</servlet-name>
  </servlet-mapping>
</web-app>